*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 70px;
    background-color: rgb(127, 204, 255);
    display: flex;
    align-items: center;
}

.left-column{
    background-color: rgb(255, 187, 0);
    height: 30px;
    width: 20%;
    margin-left: 180px;
    border: dotted black;
    
}

.center-column{
    background-color: rgb(255, 187, 0);
    height: 30px;
    width: 40%;
    border: dotted black;
}

.right-column{
    background-color: rgb(255, 187, 0);
    height: 30px;
    width: 20%;
    border: dotted black;
    display: flex;
    justify-content: flex-end;
}

ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

li{
   margin: 0 10px; 
}

.container1{
    width: 100%;
    height: 550px;
    background-color: rgb(6, 22, 160);
    display: flex;
    align-items: center;

}

.square-pink{
    height: 450px;
    width: 1000px;
    border: dotted black;
    background-color: rgb(226, 122, 195);
    margin-left: 440px;
    
}

.container2{
    width: 100%;
    height: 700px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}

.liteblue-column{
    background-color: rgb(72, 151, 224);
    border: dotted black;
    height: 550px;
    width: 750px;
    margin-left: 310px;
}

.pink-column{
    background-color: pink;
    border: dotted black;
    height: 550px;
    width: 450px;
    
}

.container3{
    width: 100%;
    height: 700px;
    background-color: rgb(167, 163, 163);
    display: flex;
    align-items: center;
}

.liteblue-column1{
    background-color: rgb(72, 151, 224);
    border: dotted black;
    height: 550px;
    width: 750px;
   
}

.pink-column1{
    background-color: pink;
    border: dotted black;
    height: 550px;
    width: 450px;
    margin-left: 310px;
}



.container4{
    width: 100%;
    height: 1000px;
    background-color: rgb(167, 163, 163);
    display: flex;
    align-items: center;
}

.green-column{
    height: 900px;
    margin-left: 310px;
    border: dotted black;
    background-color: green;
    width: 1200px;
}


.container6{
    width: 100%;
    height: 600px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}

.pinkleft-column{
    background-color: rgb(233, 140, 156);
    border: dotted black;
    height: 550px;
    width: 350px;
    margin-left: 310px;
}

.bluelittle-column{
    background-color: rgb(68, 198, 202);
    border: dotted black;
    height: 550px;
    width: 213px;
}

.container7{
    width: 100%;
    height: 70px;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: last baseline;
}

.row{
    height: 50px;
    display: flex;
    width: 1200px;
    margin-left: 310px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footlogo{
    border: dotted black;
    background-color: pink;
}

.footbottone{
 border: dotted black;
 background-color: pink;
}